# Lab 1: Python

In this first lab you will experiment with some elementary Python code. The main purpose is to understand the basics of Python.
If you have any question please contact a teaching assistant, preferentially during assisting hours.

## Basic Python

With Python you can request user input from users.

In [2]:
x = int(input("Please enter an integer: "))

In [3]:
# Example
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

More

**Q1: Can you write code that receives two inputs (integer) from the user and prints the highest.**

In [4]:
# Your code here

## Integers and Strings

Python is dynamically-typed: variable names can point to objects of any type.

This happens as variables are in fact pointers to objects. While objects have a specific type, variables can point to objects of any type. Below, we create a variable <code>x</code> and assign it (i.e., make it point) to an integer object with value 10. After that, we re-assign variable <code>x</code> so that it points to a string object.

In [ ]:
x = 10
x = 'hello'
x = "hello to show no differences between quote and double quote"

**Q2: Can you generete a string equal to x but with all characters in upper case?**

Expected output: HELLO TO SHOW NO DIFFERENCES BETWEEN QUOTE AND DOUBLE QUOTE

*Remember how to use Tab to auto-complete and check methods available to strings with x.*

In [ ]:
# Your code here

**Q3: Can you split string `x` given words separated by spaces?**

Expected output: 
`['hello', 'to', 'show', 'no', 'differences', 'between', 'quote', 'and', 'double', 'quote']`

In [ ]:
# Your code here

**Q4 : Can you concatenate and print the strings <code>a</code>, <code>b</code> and <code>c</code>?**

Expected output: `Name name is R2D2.`

In [ ]:
a = "Name name is"
b = " R2D2"
c = "."

In [ ]:
# Your code here

**Q5: Can you repeat string <code>b</code> 10 times using a maximum of 4 characters?**

Expected output: 
`R2D2 R2D2 R2D2 R2D2 R2D2 R2D2 R2D2 R2D2 R2D2 R2D2`

In [ ]:
# Your code here

**Q6: Can you print the result of the following quantities?**

* sum of a and b (Expected: 13)
* a divided by b (Expected: 3.33333)
* integer (or floor) division between a and b (Expected: 3)
* integer remainder after division of a by b (Expected: 1)
* a raised to the power of b (Expected: 1000)

In [ ]:
# Your code here

**Q7: Can you explain why the first expression is evaluated as True and the second False? Substitute <code>#\<line></code> such that both expressions evaluate to True**

In [ ]:
a = 1.0
b = 1.0
#<line>
print(a == b)
print(a is b)

## Lists

Ordered and mutable collection. Values within [square brackets] and comma-separated. Check the following code exemplifying some of the Python lists' functionality:

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [ ]:
# Indexing
fruits[4]

In [ ]:
# Slicing
fruits[2:5]

In [ ]:
fruits.count('apple')

In [ ]:
fruits.index('banana')

In [ ]:
'apple' in fruits

In [ ]:
fruits.sort(); fruits

In [ ]:
len(fruits)

In [ ]:
fruits += [100]; fruits

**Q8: Can you work out how to insert a new object ('strawberry') in the middle of the above list?**

*Tip: remember to use *\<tab>* and *?* to autocomplete and access documentation of methods

Expected output:

`['apple', 'apple', 'banana', 'banana', 'strawberry', 'kiwi', 'orange', 'pear', 100]`

In [ ]:
# Your code here

**Q9: What will be the value of the list below pointed by `x`? Can you explain why?** 

Test your intuition by running `print(x)`

In [ ]:
x = [1, 2, 3]
y = x
y[1] = 10

Your answer here

**Q11: Write code that tests if <code>a</code> is contained in <code>x</code>. Print 'a not contained in x' if <code>a</code> is not contained in <code>x</code>.**

In [ ]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8]
a = 6.2

In [ ]:
# Your code here

**Q12: Indexing: Can you write code to select elements of x from the 3rd to the second-last element (inclusive)? -- use the minimum possible number of characters**

Expected output: `[2, 3, 4, 5, 6, 7]`

In [ ]:
# Your code here

**Q13: Indexing: Can you write code to select elements of x in even positions (0, 2, 4, 6 ...)?
-- use the minimum possible number of characters**

Expected output: `[0, 2, 4, 6, 8]`

In [ ]:
# Your code here

**Q14: Indexing: Can you write code to select elements of x in odd positions (1, 3, 5...) in reverse order? -- use the minimum possible number of characters**

Expected output: `[7, 5, 3, 1]`

In [ ]:
# Your code here

## Tuple

Ordered and **immutable** collection. Values within (square brackets) and comma-separated.

**Q15: The next cell should yield a TypeError. Can you explain why? Can you create a list with the same values as <code>t</code> and assign 5 to position 2 of the newly created list?**

In [ ]:
t = (1,2,3)
t[2] = 5
t

Your answer here

## Dictionaries

Dictionaries play a key role in Python and (as we will see in future labs) in Pandas.

Dictionaries are **mappings between key and values**.

In [ ]:
phone = {'Martijn': 4098, 'Jelle': 4139}
phone['Wouter'] = 4127
phone

In [ ]:
phone['Martijn']

In [ ]:
phone.keys()

In [ ]:
'Jelle' in phone

## Sets

**Unordered** collections of **unique** items. Values within {curly brackets} and comma-separated. You can apply well-known set functions: union, intersection...

In [ ]:
primes = {2, 3, 5, 7}
odds = set(range(1,10,2))
odds

In [ ]:
primes | odds

In [ ]:
primes & odds

In [ ]:
odds - primes

**Q16: Can you write 1-line of code to count the number of integers from 0 to 10 that are prime and even?**

Tip: use the variables <code>primes</code> and <code>odds</code> above and the corresponding set operators

Expected output: {2}

In [ ]:
# Your code here

## Loops

It is possible to use *for* to iterate over any object that is *iterable*. Lists, Strings, Tuples are iterable

In [ ]:
for l in 'words':
    print(l)

In [ ]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

In [ ]:
# Sets are also iterable, but notice that the order does not matter...
setwords = {'cat', 'window', 'defenestrate'}
for w in setwords:
    print(w, len(w))

In [ ]:
for i in range(5,10):
    print(i)

**Q17: For the list `['cat', 'window', 'defenestrate']`, can you work out how to output both the index - 0, 1 or 2 - and the entry - 'cat', 'window', 'defenestrate' - in the list on the same line in the print loop?**

Expected output: 
`0 cat
1 window 
2 defenestrate `

In [ ]:
# Your code here

**Q18: Can you output all the entries (key,value) in this dictionary, line by line?**

Expected output: 

('Martijn', 4098)\
('Jelle', 4139)\
('Wouter', 4127)

In [ ]:
# Your code here

## List, Set and Dictionary Comprehension

In [ ]:
[i for i in range(20) if i % 3 == 0]

In [ ]:
{n**2 for n in range(12)}

In [ ]:
{n:n**3 for n in range(6)}

**Q19: Can you write code, using list comprehension, to generate the following output? `[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3)]`, that is: (i,j) such that i goes from 0 to 1 and j from 0 to 3**

In [ ]:
# Your code here

## Function definition

Functions are a way of creating more readable and reusable code. To create functions we will use the <code>def</code> statement. Below you can check a function implementing the first <code>N</code> values of the well-know [Fibonacci sequence](https://en.wikipedia.org/wiki/Fibonacci_number).

In [ ]:
def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

fibonacci(10)

**Q20: Can you create a function that receives a string (argument named s) and a character (argument named c) and returns a new string with all occurences of c removed?**

Example: 

<code>In: removeC("Hi, hello, my name is Joe", 'o')
Out: Hi, hell, my name is Je'

In [ ]:
# Your code here

**Q21: Can you create a function, named factorial, that receives an integer (argument named n) and returns the string "The factorial of n is r", where n in the function argument and r the result?**

Example:\
`The factorial of 5 is 120`

In [ ]:
# Your code here